.iconboxes {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    display: block;
    font-size: 0;
    text-align: center;
    margin-top: 0px;
    transition: all 1s; 
    
}

.title {
    text-transform: uppercase;
}

.iconboxes li{
    width: 20%;
    display: inline-block;
    text-align: center;
    border: 1px solid #ececec;
    margin: -1px;
    background-color: #f7f7f7;
    height:420px;
}

.about {
    text-align: center;
}

.text1 
{
    
height: 9px;
color: #898f99;
font-family: Montserrat;
font-size: 12px;
font-weight: 700;
line-height: 30px;
letter-spacing: 4.8px;
padding-bottom: 35px;
padding-top: 143px;
}

.text2 {
  
height: 36px;
color: #0ec8cb;
font-family: Montserrat;
font-size: 48px;
font-weight: 400;
line-height: 30px;
letter-spacing: 4.8px;
padding-bottom: 44px;
}

.text3 {
    
    height: 43px;
    color: #999999;
    font-family: "PT Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 108px;
}

.icon1 
{
    background: url("anchor_black.png") no-repeat;  
    width: 64px;
    height: 66px; 

}
.icon {
    padding-bottom: 55px;  
    display: table-cell;
    background-position: center; 
    padding-top: 56px;
    
}

.icontitle {

color: #1b1b1b;
font-family: Montserrat;
font-size: 21px;
font-weight: 400;
text-transform: uppercase;
padding-bottom: 33px;  
}

.icontext {
color: #777777;
font-family: "PT Sans";
font-size: 14px;
font-weight: 400;
line-height: 22px;
text-align: center;
padding-bottom: 94px;
margin-left: 31px;
margin-right: 31px;
}

.icon1 
{
    background: url("anchor_black.png") no-repeat;  
    width: 64px;
    height: 66px; 
    display: table-cell;
    background-position: center;

}

.icon2 
{
    background: url("diamond_black.png") no-repeat;  
    width: 64px;
    height: 66px; 
    display: table-cell;
    background-position: center;

}

.icon3
{
    background: url("glasses_black.png") no-repeat;  
    width: 66px;
    height: 49px; 
    display: table-cell;
    background-position: center;

}

.icon4 
{
    background: url("monitor_black.png") no-repeat;  
    width: 64px;
    height: 52px; 
    display: table-cell;
    background-position: center;
  

}

.iconboxes li:hover {
    border: 1px solid #0ec8cb;
    background-color: #0ec8cb;
    margin: -1px;
    
}

.iconboxes li:hover .icontext{
    color: white;

}

.iconboxes li:hover .icontitle{
    color: white;

}

.iconboxes li:hover .icon1 {
    background: url("anchor_white.png") no-repeat; 
    width: 64px;
    height: 66px;
    display: table-cell;
    background-position: center;

} 

.iconboxes li:hover .icon2 {
    background: url("diamond_white.png") no-repeat; 
    width: 64px;
    height: 66px; 
    display: table-cell;
    background-position: center;

} 

.iconboxes li:hover .icon3 {
    background: url("glasses_white.png") no-repeat; 
    width: 66px;
    height: 49px; 
    display: table-cell;
    background-position: center;
} 
.iconboxes li:hover .icon4 {
    background: url("monitor_white.png") no-repeat; 
    width: 64px;
    height: 52px; 
    display: table-cell;
    background-position: center;
} 

